* {
  margin: 0;
  padding: 0;
}

body {
  background-color:#000000;
  image-rendering: optimizeSpeed;            /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;         /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast;/* Safari                        */
  image-rendering: -o-crisp-edges;           /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;  /* IE                            */
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  text-shadow:
	-1px -1px 0 #2B4,  
     1px -1px 0 #2B4,
     -1px 1px 0 #2B4,
      1px 1px 0 #2B4;
}

.container {
  white-space: nowrap;
  position: relative;
  overflow: hidden; 
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 25px;
}

.container td:hover {
  filter: brightness(1.1);
}

.container td:active {
  opacity: 1;
  filter: brightness(1.25);
}

label {
  display: inline-block;
  width: 5em;
}

