@font-face {
  font-family: 'MECC';
  src: url('./meccfont/Here-Lies-MECC.ttf') format('truetype');
}

html, body {
  background-color: #222;
  color: white;
  height: 100%;
  margin: 0;
	font-family: 'MECC', Courier, sans-serif;
}

#container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container canvas {
  position: absolute;
}

#container #app-root {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
