@font-face {
  font-family: 'MECC';
  src: url('./meccfont/Here-Lies-MECC.ttf') format('truetype');
}

html, body {
  background-color: #222;
  height: 100%;
  margin: 0;
	font-family: 'MECC', Courier, sans-serif;
}

#container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container canvas, .dialog {
  position: absolute;
}

.dialog {
  border: 4px solid white;
  /* width: 600px; */
  color: white;
  background-color: black;
  text-align: center;
}

.dialog .content {
  padding: 8px;
}

.content div {
  padding: 8px;
}

.title {
  font-size: 28px;
}

.input-line {
}

.label-container, .input-container {
  display: inline-block;
}

.label {
  width: 130px;
  margin-right: 8px;
}

input, button {
  border: 4px solid white;
  font-family: inherit;
}

input {
  color: black;
}

button {
  width: 120px;
  padding: 4px;
  color: white;
  background-color: black;
}

.spacer {
  display: inline-block;
  width: 34px;
}

.items {
  border: 2px solid white;
  margin: 8px;
  overflow: auto;
  padding: 0px;
}

.items div {
  padding: 0px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
